<!DOCTYPE html PUBLIC "" "">
<html xmlns="" xml:Lang="ja">
<head>
    
    <title>hololivepro.com</title>

<meta http-equiv="" content="text/html; charset=utf-8"/>

<link rel="stylesheet" href="./css/layout.css"/>
</head>

<body>

<div id="postHeader"> 
    <a href="#">About &#8250;&#8250; </a>&nbsp;&nbsp;
    <a href="#">Talent &#8250;&#8250;</a>&nbsp;&nbsp;
    <a href="#">News &#8250;&#8250;</a>
</div>

<!--//end #postheader//-->
<div id="centerColumn">
    <div id="slider">
        <ul>
            <li><a href="#">Hololive</a></li>
            <li><a href="#">Hololive Indonesia</a></li>
            <li><a href="#">Hololive English</a></li>
            <li><a href="#">Hololive DEV_IS</a></li>
        </ul>
    </div>

    <!--//end #navbar//-->
    <div id="header">
        <p data-text="ホロライブ">ホロライブ</p>
        <h2>想いは、次元を選ばない</h2>
    </div>

    <!--//end #headern//-->
    <h2>ABOUT</h2>
    <p>「ホロライブプロダクション」は、世界最大級のVTuber事務所です。」</p>
    <p>日本発で世界中のファンを熱狂させる、我々の挑戦を紹介します。</p>
    <hr />
    <div id="cell_1">
        <h2>TALENT</h2>
        <ul class="news">
            <li class="news"><a href="#">view all</a><br />
                <em>Videos<br />
                おすすめ動画</em></li>
            <li class="news"><a href="#">view all</a><br />
                <em>Schedule<br />
                ライブ配信のスケジュール</em></li>
        </ul>
    </div>

    <!--//end #cell_1//-->
    <div id="cell_2">
        <h2>ホロライブプロダクション</h2>
        <p>ホロライブプロダクション（英語: hololive production）は、カバー株式会社（以下、「カバー」）が運営する日本のバーチャルYouTuber（以下、「VTuber」）事務所。
            <br>名称は、代表アイドルのときのそらをイメージキャラクターとしたライブ配信サービス『ホロライブ』に由来する。
        </p>
    </div>

    <!--//end #cell_2//-->
    <div id="cell_3">
        <h2>ホロライブ3期生（ホロライブファンタジー）</h2>
        <p>2019年（令和元年）6月13日にメンバーのデザインが公表され、兎田ぺこらと潤羽るしあを除く3名については同日から6月23日にかけて演者の募集が行われた。
            当初より「ホロライブファンタジー」という愛称が付けられている</p>
    </div>

    <!--//end #cell_3//-->
    <hr />
    <div id="box_1">
        <h2>兎田ぺこら</h2>
        <p>Usada Pekora</p>
        <ul>
            <li><a href="#">Youtube&#8230;</a></li>
        </ul>
    </div>

    <!--//end #box_1//-->
    <div id="box_2">
        <h2>不知火フレア</h2>
        <p>Shiranui Flare</p>
        <ul>
            <li><a href="#">Youtube&#8230;</a></li>
        </ul>
    </div>

    <!--//end #box_2//-->
    <div id="box_3">
        <h2>白銀ノエル</h2>
        <p>Shirogane Noel</p>
        <ul>
            <li><a href="#">Youtube&#8230;</a></li>
        </ul>
    </div>

    <!--//end #box_3//-->
    <div id="box_4">
        <h2>宝鐘マリン</h2>
        <p>Houshou Marine</p>
        <ul>
            <li><a href="#">Youtube&#8230;</a></li>
        </ul>
    </div>

    <!--//end #box_4//-->
    <div id="footer"> 
        Copyright, &copy; COVER
        <a href="#">ホロライブプロダクション</a> | 
        <a target="_blank" rel="">hololivepro.com</a> 
    </div>
    
    <!--//end #footer//-->
    </div>
    <!--//end #centerColumn//-->
</body>
</html>