body {
    font-family: "M PLUS 2", sans-serif;
    background-image: url(../Bibideba/images/シエスタ.jpeg);
    background-size: cover;
    background-position: center;
    height: 950px;
    position: relative;
}

h1 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    background-image: linear-gradient(to right, black);
    background-clip: text;
    color: transparent;
    margin-bottom: 46px;
}

hr {
    border: none;
    border-top: 1px solid #cccccc;
    height: 1px;
    margin-bottom: 25px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

#menu {
    width: 200px;
    margin: 10px;
}

#menu li a {
    height: 32px;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 22px;
    text-decoration: none;
}

#menu li a:link, #menu li a:visited {
    color: #666;
    display: block;
    background: url(menu.gif);
    padding: 10px 0 0 35px;
}

#menu li a:hover {
    color: #000;
    background: url(menu.gif) 0 -32px;
    padding: 10px 0 0 35px;
}