body {
    font-family: 'M PLUS 1p', sans-serif;
    background-image: url(../images/だんじょる.jpeg);
    background-size: cover;
    background-position: center;
    height: 900px;
    position: relative;
}

a {
    color: black;
    text-decoration: underline;
    padding: 6px 10px;
    transition: color 200ms ease, transform 200ms ease;
}

a:hover {
    color: #e62f8b;
    text-decoration:none;
}

blockquote {
    margin: 1em;
    padding: .5em .5em .5em 85px;
    background-color: #D7ECF8;
}

blockquote p {
    margin: .2em;
    color: #000000;
}

hr {
    margin-bottom: 20px;
    border: none;
    width: 99%;
    color: #eeeeee;
    background-color: #eeeeee;
    height: 1px;
    clear: both;
}

td.desc {
    padding: 4px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: .7em;
}

#postHeader {
    margin: 0 auto;
    padding: 0 .2em .3em .2em;
    width: 720px;
    text-align: right;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    font-size: .7em;
    text-transform: uppercase;
}

#centerColumn {
    margin: 0 auto;
    padding: 1em;
    width: 720px;
    text-align: left;
    vertical-align: middle;
    background-color: #D7E7F3;
}

#centerColumn h2 {
    margin: 0 0 -.5em 0;
    padding: .75em 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
}

#centerColumn h3 {
    margin: 0 0 -.5em 0;
    padding: .75em 0 0 0;
    font-size: .8em;
    font-weight: lighter;
    letter-spacing: .1em;
}

#slider li {
  display: inline-block;
  margin: 0 5px;
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
}

#slider li:hover {
  background-color: black;
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
}

#slider li a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 10px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  -webkit-transition-duration: 800ms, 800ms, 800ms, 800ms;
  transition-duration: 800ms, 800ms, 800ms, 800ms;
}

#slider li a:hover {
  background-color: #e62f8b;
  color: #ffffff;
  padding-left: 30px;
}

#header {
    margin: 0 -1em 0 -1em;
    padding: 0 0 0 0;
    height: 143px;
    background-color: #cccccc;
    border-top: 1px solid #D7E7F3; 
}

#header p {
    color: aquamarine;
    -webkit-text-stroke: 6px black;
    paint-order: stroke;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(to right);
    background-clip: text;
    margin-bottom: 40px;
}
#header::before {
    content: attr(data-text);
    -webkit-text-stroke: 0;
    position: absolute;
    inset: 0 auto auto o;
}

#header h2 {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 40px;
}

#cell_1 {
    margin: 0 5px 1em 0;
    padding: 8px;
    float: left;
    width: 210px;
    background-color: #cccccc;
}

#cell_2 {
    margin: 0 14px 1em 14px;
    padding: 8px;
    float: left;
    width: 210px;
    background-color: #cccccc;
}

#cell_3 {
    margin: 0 0 1em 5px;
    padding: 8px;
    float: left;
    width: 210px;
    background-color: #cccccc;
}

#cell_1 p, #cell_2 p, #cell_3 p {
    font-size: .75em;
    color: #000000;
}

#cell_1 h2 {
    margin: 0 0 -4px 0 !important;
    margin: 0 0 -20px 0;
    padding: 4px 0 10px 0;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: bold;
}

#cell_2 h2 {
    margin: 0 0 -4px 0 !important;
    margin: 0 0 -20px 0;
    padding: 4px 0 10px 0;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: bold;
}

#cell_3 h2 {
    margin: 0 0 -4px 0 !important;
    margin: 0 0 -20px 0;
    padding: 4px 0 10px 0;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: bold;
}

#box_1 {
    margin: 0 .6em .5em 0 ;
    padding: 2px;
    float: left;
    width: 160px;
    background-color: #eeeeee;
    border-radius: 5px;
}

#box_2 {
    margin: 0 .6em .5em 0;
    padding: 2px;
    float: left;
    width: 160px;
    background-color: #eeeeee;
    border-radius: 5px;
}

#box_3 {
    margin: 0 .6em .6em 0;
    padding: 3px;
    float: left;
    width: 160px;
    background-color: #eeeeee;
    border-radius: 5px;
}

#box_4 {
    margin: 0 .6em .5em 0;
    padding: 3px;
    float: left;
    width: 160px;
    background-color: #eeeeee;
    border-radius: 5px;
}

#footer {
    clear: both;
    text-align: center;
    padding: 7px;
    width: 96%;
    margin: 0 2px 1em 2px;
    background-color: #cccccc;
    border-radius: 15px;
}

@media screen and (max-width: 767px) {
    .row {
        flex-wrap: wrap;
        gap: 24px 0;
        margin-bottom: 48px;
    }
    .col {
        width: 100%;
    }
    .heading {
        font-size: 20px;
        margin-bottom: 14px;
    }
    h3 {
        font-size: 26px;
        margin-bottom: 16px;
    }
    .text {
        font-size: 15px;
    }
}