body {
    font-family: "M PLUS 2", sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    text-align: center;
    padding: 24px 0;
}

header .logo{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: antiquewhite;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hero {
    background-image: url(../images/image1.avif);
    background-size: cover;
    background-position: center;
    height: 690px;
    position: relative;
}

.hero .box {
    color: antiquewhite;
    position: absolute;
    bottom: 48px;
    left: 36px;
}

.hero h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 0.89;
    max-width: 800px;
    margin-bottom: 32px;
}

.hero .jp {
    font-size: 24px;
}

.about {
    padding: 64px 0;
}

.container {
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
}

.about h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right, #00abdb, #6ad6dc);
    background-clip: text;
    color: transparent;
    margin-bottom: 40px;
}

.about h2 span {
    border-bottom: 5px solid #6ad6dc;
}
.about .imagebox {
    text-align: center;
}
.about .imagebox img {
    max-width: 660px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.about .text {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
}

.area {
    padding: 64px 0;
    background-color: #f4f9f9;
}
.area h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right, #00abdb, #6ad6dc);
    background-clip: text;
    color: transparent;
    margin-bottom: 46px;
}
.area h2 span {
    border-bottom: 5px solid #6ad6dc;
}

.area .lead {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 40px;
}
.area .row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.area.row.reverse {
    flex-direction: row-reverse;
}

.area .col:first-child {
    width: 50%;
    background-size: cover;
    background-position: center;
    height: 460px;
}
.area .col:last-child {
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}
.area .col.image3 {
    background-image: url(../images/image3.avif);
}
.area .col.image4 {
    background-image: url(../images/image4.avif);
}
.area .col.image5 {
    background-image: url(../images/image5.avif);
}
.area .col.image6 {
    background-image: url(../images/image6.avif);
}

.area h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.area .text {
    line-height: 2;
}

.event {
    padding: 64px 0;
}
.event h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right, #00abdb, #6ad6dc);
    background-clip: text;
    color: transparent;
    margin-bottom: 40px;
}
.event h2 span {
    border-bottom: 5px solid #6ad6dc;
}

.event .row {
    display: flex;
    gap: 0 2%;
}
.event .col {
    width: 32%;
}
.event img {
    border-radius: 10px;
    margin-bottom: 14px;
    width: 100%;
    height: auto;
    aspect-ratio: 8 / 5;
    object-fit: cover;
}
.event h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.event .text {
    line-height: 1.5;
}

.gallery {
    padding: 64px 0;
    background-color: #f4f9f9;
}
.gallery h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right, #00abdb, #6ad6dc);
    background-clip: text;
    color: transparent;
    margin-bottom: 46px;
}
.gallery h2 span {
    border-bottom: 5px solid #6ad6dc;
}
.gallery .lead {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 40px;
}
.gallery .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 0;
}
.gallery .col {
    width: 24%;
}
.gallery img {
    width: 100%;
    height: auto;
    aspect-ratio: 8 / 5;
    object-fit: cover;
}

footer {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 20px 0;
}

@media screen and (max-width: 768ppx) {
    .hero {
        height: 500px;
    }
    .hero .box {
        bottom: 48px;
        left: 20px;
    }
    .hero h1 {
        font-size: 34px;
        line-height: 1;
        max-width: 340px;
        margin-bottom: 12px;
    }
    .hero .jp {
        font-size: 14px;
    }
    .about {
        padding: 40px 0;
    }
    .about h2 {
        font-size: 20px;
        margin-bottom: 26px;
    }
    .about h2 span {
         border-bottom: 3px solid #6ad6dc;
    }
    .about .imagebox img {
        margin-bottom: 16px;
    }
    .about .text {
        font-size: 15px;
    }
    .area {
        padding: 40px 0 20px;
    }
    .area h2 {
        font-size: 20px;
        margin-bottom: 26px;
    }
    .area h2 span {
        border-bottom: 3px solid #6ad6dc;
    }
    .area .lead {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .area .row {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .area .col:first-child {
        width: 100%;
        height: 200px;
        border-radius: 0 !important;
    }
    .area .col:last-child {
        width: 100%;
    }
    .area h3 {
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 10px;
    }
    .area .text {
        font-size: 15px;
        line-height: 1.8;
    }
    .event {
        padding: 40px 0;
    }
    .event h2 {
        font-size: 20px;
        margin-bottom: 26px;
    }
    .event h2 span {
        border-bottom: 3px solid #6ad6dc;
    }
    .event .row {
        flex-wrap: wrap;
        gap: 20px 0;
    }
    .event .col {
        width: 100%;
    }
    .event img {
        margin-bottom: 12px;
        aspect-ratio: 8 / 4;
    }
    .event .text {
        font-size: 15px;
        line-height: 1.8;
    }
    .gallery {
        padding: 40px 0;
    }
    .gallery h2 {
        font-size: 20px;
        margin-bottom: 26px;
    }
    .gallery h2 span {
        border-bottom: 3px solid #6ad6dc;
    }
    .gallery .lead {
        font-size: 15px;
        margin-bottom: 24px;
    }
    .gallery .row {
        gap: 6px  0;
    }
    .gallery .col {
        width: 32%;
    }
    footer {
        padding: 14px 0;
    }
}