/* reset */
* {
    margin /*外側の余白*/: 0;
    padding /*内側の余白*/: 0;
}
a {
    color: var(--primary-color);
    text-decoration /*テキストの装飾的な線の表示*/: none;
}
ul {
    list-style-type /*リスト項目要素のマーカー*/: none;
}
/*========================*/

/* CSS Variables */
:root {
    --primary-color: #1a1919;
    --secondary-color: #F7F0D7;
    --background-color: #FFF;
}
body {
    background-color: var(--background-color);
    color: var(--primary-color);
}

/* Header styles */
header {
    padding: 30px;
    text-align: center;
}
header h1 {
    font-size: clamp(32px, 6vw, 70px);
    margin-bottom: 20px;
}
header nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
header nav ul li a {
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}
header nav ul li a:hover {
    color: blue;
}
/*========================*/

